SUPABASE_URL=YOUR_SUPABASE_PROJECT_URL

SUPABASE_SECRET_KEY=YOUR_SUPABASE_SECRET_KEY

SUPABASE_PUBLIC_KEY=YOUR_SUPABASE_PUBLIC_KEY

SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY

STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY

STRIPE_CHECKOUT_SUCCESS_URL=xfathub://payment/success

STRIPE_CHECKOUT_CANCEL_URL=xfathub://payment/cancel
